<!DOCTYPE html>
<html lang="en">

<head>
    <title>Data Suggestions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
    <br>
    <br>
    <div class="container">
        <ul>
            <li><a href="allBatsmen.html">All batsmen statistics</a></li>
            <li>
                <div ng-app="">
                    <form action="batsman_details.php" method="post">
                        Batsman Name: <input type="text" ng-model="id" name="name">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>

            <li>
                <div ng-app="">
                    <form action="anime_by_rating.php" method="post">
                        Anime with rating greater than: <input type="text" ng-model="id" name="rating">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
            <li>
                <div ng-app="">
                    <form action="anime_by_ratingrange.php" method="post">
                        Anime with rating range greater than: <input type="text" ng-model="id" name="low"> and lesser than: <input type="text" ng-model="id" name="high">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
            <li>
                <div ng-app="">
                    <form action="anime_by_episodes.php" method="post">
                        Anime with episodes range greater than: <input type="text" ng-model="id" name="low"> and lesser than: <input type="text" ng-model="id" name="high">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
            <li>
                <div ng-app="">
                    <form action="anime_by_episodes_rating.php" method="post">
                        Anime with episodes <br> greater than: <input type="text" ng-model="id" name="lowe"><br> lesser than: <input type="text" ng-model="id" name="highe"><br> rating<br> greater than
                        <input type="text" ng-model="id" name="lowr"><br> less than
                        <input type="text" ng-model="id" name="highr">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
            <li>
                INSERT ANIME
                <div ng-app="">
                    <form action="insert_anime.php" method="post">
                        id: <input type="text" ng-model="id" name="id"><br> Name: <input type="text" ng-model="id" name="name"><br> Genre: <input type="text" ng-model="id" name="genre"><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
        </ul>
    </div>



</body>

</html>