<!DOCTYPE html>
<html lang="en">

<head>
    <title>Data Suggestions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
    <br>
    <br>
    <div class="container">
        <ul>
            <li><a href="allBowlers.html">All bowling statistics</a></li>

            <li>
                <div ng-app="">
                    <form action="bowler_details.php" method="post">
                        Bowler name: <input type="text" ng-model="id" name="name">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
            <li>
                <div ng-app="">
                    <form action="bowlers_by_wickets.php" method="post">
                        Bowlers with Wickets greater than or equal to: <input type="text" ng-model="id" name="wickets">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
            <li>
                <div ng-app="">
                    <form action="bowlers_by_avg.php" method="post">
                        Bowlers with avg less than or equal to: <input type="text" ng-model="id" name="avg">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
            <li>
                <div ng-app="">
                    <form action="bowlers_by_econ.php" method="post">
                        Bowlers with econ less than or equal to: <input type="text" ng-model="id" name="econ">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>
            <li>
                <div ng-app="">
                    <form action="fav_bowler.php" method="post">
                        Matches of your favourite Bowler: <input type="text" ng-model="id" name="fav_bowler">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </li>

        </ul>
    </div>



</body>

</html>

</html>